*{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% 50% 30%;
    gap: 5px;
    background-color: blue;
}

.elemento{
    padding: 20px;
    border: 1px black solid;
    background-color: steelblue;
    text-align: center;
}

.header{
    grid-column: 1 / 4;
}

.aside{
    grid-row: 2 / 4;
}

.main{
    grid-column: 2/3;
}

.footer{
    grid-column: 2/4;
}